.workshop-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .workshop-card-date {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    z-index: 1;
  }
  
  .workshop-card-content {
    padding: 16px;
    text-align: center;
  }
  
  .workshop-card-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipses (...) */
    margin: 0;
  }
  
  .workshop-card-content h4 {
    font-size: 1rem;
    color: #555;
    margin: 8px 0;
  }
  
  .workshop-card-content p {
    font-size: 0.9rem;
    color: #777;
  }
  
  
  .workshop-card-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
  }
  